---
title: Documentation
notes: |
  General documentation of naming conventions and template usage
---

<p>These are some docs.</p>

<ul>
  {{#each (pages "docs" ignore="index")}}
    <li>
      <a href="{{@root.baseurl}}/{{url}}">{{data.title}}</a>
    </li>
  {{/each}}
</ul>
