{{#extend "blank" htmlclass="drizzle-Layout" bodyclass="drizzle-Layout-body"}}
  {{#content "head" mode="append"}}
    <link rel="stylesheet" href="{{@root.baseurl}}/assets/drizzle/styles/drizzle.css">
    <link rel="stylesheet" href="{{@root.baseurl}}/assets/toolkit/styles/toolkit.css">
  {{/content}}
  {{#content "body"}}
    {{> drizzle.nav}}
    <div class="drizzle-Layout-main drizzle-u-cf">
      <div class="drizzle-u-pad drizzle-u-rhythm">
        {{#block "main"}}

        {{/block}}
      </div>
    </div>
  {{/content}}
  {{#content "foot"}}
    <script src="{{@root.baseurl}}/assets/drizzle/scripts/drizzle.js"></script>
    <script src="{{@root.baseurl}}/assets/toolkit/scripts/toolkit.js"></script>
  {{/content}}
{{/extend}}
