.Item {
  padding: var(--space) 0;
}

.Item-control {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 0.75rem;
  line-height: 1;
  padding: calc(var(--space) / 2) 0;
  text-decoration: none;
  vertical-align: baseline;

  & svg {
    fill: currentColor;
    height: 1em;
    margin-top: -0.375em;
    position: relative;
    vertical-align: middle;
    width: 1.5em;
  }
}
