:root {
  --Label-default: var(--color-silver);
  --Label-inprogress: var(--color-yellow);
  --Label-deprecated: var(--color-red);
  --Label-approved: var(--color-green);
}

.Label {
  background-color: var(--Label-default);
  border-radius: 0.25rem;
  display: inline-block;
  font-size: 0.75rem;
  line-height: 1;
  padding: calc(var(--space) / 2);
  vertical-align: inherit;
}

.Label--inprogress {
  background-color: var(--Label-inprogress);
  color: var(--color-black);
}

.Label--deprecated {
  background-color: var(--Label-deprecated);
  color: var(--color-white);
}

.Label--approved {
  background-color: var(--Label-approved);
  color: var(--color-white);
}
