:root {
  --Layout-nav-width: 14rem;
}

.Layout {
  height: 100%;
  margin: 0;
}

.Layout-nav,
.Layout-body,
.Layout-main {
  margin: 0;
  position: relative;
}

@media (--lg-viewport) {
  .Layout-nav {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    width: var(--Layout-nav-width);
    height: 100%;

    -webkit-overflow-scrolling: touch;
  }

  .Layout-main {
    margin-left: var(--Layout-nav-width);
    padding: 2.5vh 5%;
  }
}
