:root {
  --Nav-background: var(--color-silver);
  --Nav-active-background: var(--color-white);
  --Nav-header-background: var(--color-blue);
  --Nav-header-color: var(--color-white);
  --Nav-toggle-size: 3em;
  --Nav-item-padding: calc(var(--space) * 0.75) var(--space);
  --Nav-item-nested-indent: calc(var(--space) * 2);
  --Nav-item-nested-font-size: 0.75em;
}

.Nav {
  background: var(--Nav-background);
}

.Nav-header {
  background: var(--Nav-header-background);
  color: var(--Nav-header-color);
  padding: calc(var(--space) * 0.75) var(--space);
  position: relative;
}

.Nav-header-toggle {
  position: absolute;
  width: var(--Nav-toggle-size);
  top: 0;
  right: 0;
  bottom: 0;

  @media (--lg-viewport) {
    display: none;
  }

  & > svg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
}

.Nav a,
.Nav a:--enter {
  text-decoration: none;

  &:not(.is-active) {
    color: inherit;
  }
}

.Nav-main {
  display: none;
  padding-bottom: var(--space);

  @media (--lg-viewport) {
    display: block;
  }
}

.Nav.is-active .Nav-main {
  display: block;
}

.Nav-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.Nav-item {
  display: block;
  padding: var(--Nav-item-padding);

  &.is-active {
    background: var(--Nav-active-background);
  }
}

.Nav-menu .Nav-menu .Nav-item {
  font-size: var(--Nav-item-nested-font-size);
  padding-left: var(--Nav-item-nested-indent);
}
