<div class="Grid">
  <div class="Grid-cell u-md-size1of2 u-lg-size1of4">A</div>
  <div class="Grid-cell u-md-size1of2 u-lg-size1of4">B</div>
  <div class="Grid-cell u-md-size1of2 u-lg-size1of4">C</div>
  <div class="Grid-cell u-md-size1of2 u-lg-size1of4">D</div>
</div>
