---
title: First Demo Example
notes: This is an example demo.
layout: blank
labels:
  - inprogress
  - prototype
styles:
  - demo-1
---

<h1>{{title}}</h1>

{{#each (data "articles")}}
  <article>
    <header>
      <h2>{{title}}</h2>
      <p>Published: <time pubdate="pubdate">{{timestamp date format="MMM Do, YYYY"}}</time></p>
    </header>
    {{{body}}}
  </article>
{{/each}}
