---
title: Second Demo Example
notes: This is an example demo.
layout: blank
styles:
  - demo-2
---

<h1>{{title}}</h1>

<p>Data below courtesy of <a href="http://www.radfaces.com">Rad Faces</a>.</p>
<ul>
  {{#each (data "radfaces")}}
    <li>{{first_name}} {{last_name}} from {{location}}</li>
  {{/each}}
</ul>
