---
title: Demos
notes: |
  A collection of mockups, demonstrations, proofs-of-concept or
  anything else that might not be production-ready.
---

<h1>Demos</h1>

<p>These are some demos.</p>

{{#each (pages "demos" ignore="index")}}
  {{> drizzle.page-item }}
{{/each}}
