---
title: Demos
---

<p>These are some demos.</p>

<ul>
  {{#each drizzle.pages.demos}}
    {{#compare @key "!==" "index"}}
      <li><a href="./{{@key}}.html">{{data.title}}</a></li>
    {{/compare}}
  {{/each}}
</ul>
