{{#if data.labels}}
  <ul class="
   drizzle-u-inlineBlock
   drizzle-u-alignMiddle">
    {{#each data.labels as |label|}}
      <li class="drizzle-Label drizzle-Label--{{label}}">
        {{label}}
      </li>
    {{/each}}
  </ul>
{{/if}}
