{{#extend "drizzle.labelheader"}}
  {{#content "heading"}}
    <h2 id="{{toSlug name}}" class="
      drizzle-u-inlineBlock
      drizzle-u-alignMiddle
      drizzle-u-textNoWrap
      drizzle-u-padRight">
      <a href="#{{toSlug name}}"
        class="drizzle-u-linkHidden">
        {{name}}
      </a>
    </h2>
  {{/content}}
{{/extend}}
