{{#*inline "nav-item"}}
  <a class="drizzle-Nav-item" href="{{baseurl}}/{{url}}">
    {{label}}
  </a>
{{/inline}}

<div class="drizzle-Layout-nav drizzle-Nav" id="nav">
  <div class="drizzle-Nav-header">
    <a href="/">
      {{> drizzle.logo}}
    </a>
    <a class="drizzle-Nav-header-toggle" href="#nav">
      <svg viewBox="-1 -1 12 7" width="16" height="16">
        <polyline fill="none" stroke="currentColor" stroke-width="2" points="0 0 5 5 10 0"/>
      </svg>
    </a>
  </div>
  <div class="drizzle-Nav-main">
    <ul class="drizzle-Nav-menu" id="nav-menu">
      {{!-- Top-level pages --}}
      {{#each (pages)}}
        <li>
          {{> nav-item label=data.title}}
        </li>
      {{/each}}
      {{!-- Patterns --}}
      {{#each (collections)}}
        <li>
          {{> nav-item label=name}}
        </li>
      {{/each}}
      {{!-- Demo pages --}}
      <li>
        {{#with (page "demos/index")}}
          {{> nav-item label=data.title}}
        {{/with}}
        <ul class="drizzle-Nav-menu">
          {{#each (pages "demos" ignore="index")}}
            <li>
              {{> nav-item label=data.title}}
            </li>
          {{/each}}
        </ul>
      </li>
      {{!-- Docs pages --}}
      <li>
        {{#with (page "docs/index")}}
          {{> nav-item label=data.title}}
        {{/with}}
        <ul class="drizzle-Nav-menu">
          {{#each (pages "docs" ignore="index")}}
            <li>
              {{> nav-item label=data.title}}
            </li>
          {{/each}}
        </ul>
      </li>
    </ul>
  </div>
</div>
