{{!-- Nav item partial --}}
{{#*inline "nav-item"}}
  <a class="drizzle-Nav-item" href="{{@root.baseurl}}/{{url}}">
    {{label}}
  </a>
{{/inline}}

<div class="drizzle-Layout-nav drizzle-Nav" id="nav">
  <div class="drizzle-Nav-header">
    <a href="{{@root.baseurl}}/">
      {{> drizzle.logo}}
    </a>
    <a class="drizzle-Nav-header-toggle" href="#nav">
      <svg viewBox="-1 -1 12 7" width="16" height="16">
        <polyline fill="none" stroke="currentColor" stroke-width="2" points="0 0 5 5 10 0"/>
      </svg>
    </a>
  </div>
  <div class="drizzle-Nav-main" id="nav-menu">
    {{!-- Top-level pages --}}
    <ul class="drizzle-Nav-menu">
      {{#each (pages sortby="order")}}
        <li>
          {{> nav-item label=data.title}}
        </li>
      {{/each}}
    </ul>
    {{!-- Element Patterns --}}
    <h5 class="drizzle-Nav-item drizzle-u-marginTop">Elements</h5>
    <ul class="drizzle-Nav-menu">
      {{#each (collections "elements" sortby="order")}}
        <li>
          {{> nav-item label=name}}
        </li>
      {{/each}}
    </ul>
    {{!-- Component Patterns --}}
    <h5 class="drizzle-Nav-item drizzle-u-marginTop">Components</h5>
    <ul class="drizzle-Nav-menu">
      {{#each (collections "components" sortby="order")}}
        <li>
          {{> nav-item label=name}}
        </li>
      {{/each}}
    </ul>
    {{!-- Other pages --}}
    <h5 class="drizzle-Nav-item drizzle-u-marginTop">Other Stuff</h5>
    <ul class="drizzle-Nav-menu">
      <li>
        {{#with (page "docs/index")}}
          {{> nav-item label=data.title}}
        {{/with}}
      </li>
      <li>
        {{#with (page "demos/index")}}
          {{> nav-item label=data.title}}
        {{/with}}
      </li>
    </ul>
  </div>
</div>
