<figure class="drizzle-u-noMarginLeft">
  <svg class="drizzle-Swatch">
    <rect fill="{{color}}" width="100%" height="100%"/>
  </svg>
  <figcaption class="drizzle-u-textSmaller">
    <ul class="drizzle-u-listUnstyled">
      {{#if label}}<li>{{label}}</li>{{/if}}
      <li><code>{{color}}</code></li>
      {{#if property}}<li><code>{{property}}</code></li>{{/if}}
    </ul>
  </figcaption>
</figure>
