<figure class="drizzle-Swatch">
  <svg class="drizzle-Swatch-sample">
    <rect fill="{{color}}" width="100%" height="100%"/>
  </svg>
  <figcaption class="drizzle-Swatch-info">
    {{#if label}}
      <p>{{label}}</p>
    {{/if}}
    <p><code>{{color}}</code></p>
    {{#if property}}
      <p><code>{{property}}</code></p>
    {{/if}}
  </figcaption>
</figure>
