---
name: Heading Elements
notes: |
  These are some heading elements.
links:
  MDN: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Heading_Elements
labels:
  - inprogress
---

<h1>Heading</h1>
<h2>Heading</h2>
<h3>Heading</h3>
