---
name: List Elements
notes: |
  These are some list elements.
links:
  "MDN <ul>": https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ul
  "MDN <ol>": https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ol
labels:
  - inprogress
previewClass: drizzle-u-rhythm
---

<ol>
  <li>Ordered Item</li>
  <li>Ordered Item</li>
  <li>Ordered Item</li>
</ol>
<ul>
  <li>Unordered Item</li>
  <li>Unordered Item</li>
  <li>Unordered Item</li>
</ul>
