---
title: Paragraph Elements
sourceless: true
notes: |
  These are some paragraph elements.
labels:
  - inprogress
---

{{!-- TODO: maybe a helper or something to shorten this path? --}}
<p>
  {{drizzle.data.specimens.contents.paragraph}}
</p>
