---
title: Colors
notes: |
  These are the brand colors.
---

<h1>{{title}}</h1>

{{#each (data "colors")}}
  <h4 class="drizzle-u-capitalize">{{@key}}</h4>
  <ul class="drizzle-u-listInline">
    {{#each this}}
      <li class="drizzle-u-marginBottom">
        {{> drizzle.swatch }}
      </li>
    {{/each}}
  </ul>
{{/each}}
