---
name: Heading Elements
notes: |
  These are some heading elements.
links:
  MDN: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Heading_Elements
labels:
  - inprogress
previewClass: drizzle-u-rhythm
---

{{#with (data "specimens")}}
  <h1>{{heading}}</h1>
  <h2>{{heading}}</h2>
  <h3>{{heading}}</h3>
{{/with}}
