.u-listUnstyled,
.u-listInline {
  padding-left: 0;
  list-style: none;
}

.u-listInline {
  position: relative;
  margin-right: -0.5em;
  margin-left: -0.5em;
}

.u-listInline > li {
  display: inline-block;
  padding-right: 0.5em;
  padding-left: 0.5em;
}
