.u-pad {
  padding: var(--space) !important;
}

.u-padLeft {
  padding-left: var(--space) !important;
}

.u-padRight {
  padding-right: var(--space) !important;
}

.u-padSides {
  padding-left: var(--space) !important;
  padding-right: var(--space) !important;
}

.u-padTop {
  padding-top: var(--space) !important;
}

.u-padBottom {
  padding-bottom: var(--space) !important;
}

.u-padEnds {
  padding-bottom: var(--space) !important;
  padding-top: var(--space) !important;
}

.u-margin {
  margin: var(--space) !important;
}

.u-marginLeft {
  margin-left: var(--space) !important;
}

.u-marginRight {
  margin-right: var(--space) !important;
}

.u-marginSides {
  margin-left: var(--space) !important;
  margin-right: var(--space) !important;
}

.u-marginTop {
  margin-top: var(--space) !important;
}

.u-marginBottom {
  margin-bottom: var(--space) !important;
}

.u-marginEnds {
  margin-bottom: var(--space) !important;
  margin-top: var(--space) !important;
}

.u-rhythm > * + * {
  margin-top: var(--space);
}

.u-noMargin {
  margin: 0 !important;
}

.u-noMarginLeft {
  margin-left: 0 !important;
}

.u-noMarginRight {
  margin-right: 0 !important;
}

.u-noMarginSides {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.u-noMarginTop {
  margin-top: 0 !important;
}

.u-noMarginBottom {
  margin-bottom: 0 !important;
}

.u-noMarginEnds {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}
